@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --tw-backdrop-grayscale: 50%;
}

.home-container {
  @apply bg-[#fff] min-h-[200vh] w-[100vw];
}
